# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency folders
node_modules/

# Builds
dist/
dist-ssr/
build/
*.preview.*
*.tar.gz
*.tgz
*.zip

# Local env
*.local
.env

# Lockfiles
package-lock.json
yarn.lock
pnpm-lock.yaml

# Test artifacts
tests/

# System files
.DS_Store
Thumbs.db
ehthumbs.db
Icon?

# Editor configs
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
